{% extends 'students/layout.html' %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
        <div class="card-body">
            <button
            type="button"
            class="btn btn-gradient-primary waves-effect waves-light float-right mb-3"
            data-toggle="modal"
            data-animation="bounce"
            data-target=".bs-example-modal-lg"
            >
            + Yeni Tələbə
            </button>
            <h4 class="header-title mt-0 mb-3">Bütün Tələbələr</h4>
            <div class="table-responsive dash-social">
            <table id="child_rows" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                <thead>
                <tr>
                    <th></th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Sinif Qrupu</th>
                    <th>Tarix</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th></th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>Email</th>
                    <th>Telefon</th>
                    <th>Sinif Qrupu</th>
                    <th>Tarix</th>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block modals %}

<div id="student-add-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Yenı tələbə əlavə et</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status-select" class="mr-2">Namizədi seç:</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Seç:</option>
                                    <option value="1">Mahmud Qəribov Elçin</option>
                                    <option value="1">Terlan Soltanov Laçın</option>
                                    <option value="2">Rübabe Sabanova .....</option>
                                    <option value="2">Ülvi Nəcəfli Tarix</option>
                                    <option value="2">Qədir Məmmdli Ülvi</option>
                                    <option value="2">Pərviz Abdullayev Yelpənək</option>
                                </select>
                            </div>
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LeadEmail">Ad (N.g)</label>
                                <input type="email" class="form-control" id="LeadEmail" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LeadEmail">Soyad (N.g)</label>
                                <input type="email" class="form-control" id="LeadEmail" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LeadEmail">E-mail (N.g)</label>
                                <input type="email" class="form-control" id="LeadEmail" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">                     
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PhoneNo">Telefon nömrəsi (N.g)</label>
                                <input type="text" class="form-control" id="PhoneNo" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LeadName">Şəxsiyyət vəsiqəsinin FİN -i (N.g)</label>
                                <input type="text" class="form-control" id="LeadName" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status-select" class="mr-2">Qrupu</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Seç</option>
                                    <option value="1">Qrup - 1901</option>
                                    <option value="1">Qrup - 1902</option>
                                    <option value="2">Qrup - 1903</option>
                                    <option value="2">Qrup - 1904</option>
                                    <option value="2">Qrup - 1911</option>
                                    <option value="2">Qrup - ToT</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">                                                               
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status-select" class="mr-2">Ailə vəziyyəti</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Seç</option>
                                    <option value="1">Evli</option>
                                    <option value="1">Subay</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status-select" class="mr-2">Təhsil durumu</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Seç</option>
                                    <option value="1">Ali</option>
                                    <option value="1">Orta</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status-select" class="mr-2">İş vəziyyəti</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Seç</option>
                                    <option value="1">İşsiz</option>
                                    <option value="1">İşləyir</option>
                                </select>
                            </div>
                        </div>
                    </div>                 
                    <button type="button" class="btn btn-sm btn-primary">Əlavə et</button>
                    <button type="button" class="btn btn-sm btn-danger">Əməliyyatı ləğv et</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="student-edit-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">Tələbəni redaktə et</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LeadEmail">Ad</label>
                                <input value="Mahmud" type="email" class="form-control" id="LeadEmail" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LeadEmail">Soyad</label>
                                <input value="Qəribov" type="email" class="form-control" id="LeadEmail" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LeadName">Email </label>
                                <input value="mahmood.garibov@gmail.com" type="text" class="form-control" id="LeadName" required="">
                            </div>
                        </div>
                    </div>
                    <div class="row">                                              
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="PhoneNo">Telefon nömrəsi</label>
                                <input value="0702568952" type="text" class="form-control" id="PhoneNo" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LeadName">Şəxsiyyət vəsiqəsinin FİN -i</label>
                                <input value="0esad9" type="text" class="form-control" id="LeadName" required="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status-select" class="mr-2">Qrupu</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Qrup - 1901</option>
                                    <option value="1">Qrup - 1901</option>
                                    <option value="1">Qrup - 1902</option>
                                    <option value="2">Qrup - 1903</option>
                                    <option value="2">Qrup - 1904</option>
                                    <option value="2">Qrup - 1911</option>
                                    <option value="2">Qrup - ToT</option>
                                </select>
                            </div>
                        </div>
                    </div>  
                    <div class="row">                                                               
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status-select" class="mr-2">Ailə vəziyyəti</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Evli</option>
                                    <option value="1">Evli</option>
                                    <option value="1">Subay</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status-select" class="mr-2">Təhsil durumu</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Ali</option>
                                    <option value="1">Ali</option>
                                    <option value="1">Orta</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status-select" class="mr-2">Ailə vəziyyəti</label>
                                <select class="custom-select" id="status-select">
                                    <option selected="">Evli</option>
                                    <option value="1">Evli</option>
                                    <option value="1">Subay</option>
                                </select>
                            </div>
                        </div>
                    </div>                        
                    <button type="button" class="btn btn-sm btn-primary">Yadda saxla</button>
                    <button type="button" class="btn btn-sm btn-danger">Əməliyyatı ləğv et</button>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div id="student-payment-modal" class="modal fade bs-payment-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myLargeModalLabel">
                    Ödəniş tarixçəsi
                </h5>
                <button type="button" class="close" data-dismiss="modal"aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive dash-social">
                    <table id="datatable" class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                        <th>Ödəmə Tarixi</th>
                        <th>Məbləğ</th>
                        <th>Ödəmə Tipi</th>
                        <th>Qalıq</th>
                        <th>Geri ödəniş</th>
                        <th>Qəbz</th>
                        </tr>
                        <!--end tr-->
                    </thead>

                    <tbody>
                        <tr>
                        <td>18/05/2020</td>
                        <td>250man</td>
                        <td>Card</td>
                        <td>0</td>
                        <td>0</td>
                        <td>
                            <span
                            class="font-18 badge badge-md badge-soft-success"
                            >Endir</span
                            >
                        </td>
                        </tr>
                        <!--end tr-->
                        <tr>
                        <td>18/06/2020</td>
                        <td>450man</td>
                        <td>Nağd</td>
                        <td>0</td>
                        <td>0</td>
                        <td>
                            <span
                            class="font-18 badge badge-md badge-soft-success"
                            >Endir</span
                            >
                        </td>
                        </tr>
                        <!--end tr-->
                    </tbody>
                    </table>
                </div>
            </div>
            </div>
          </div>
</div>



{% endblock modals %}